{
  "mcpServers": {
    "gitea": {
      "type": "stdio",
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "-e",
        "GITEA_ACCESS_TOKEN",
        "-e",
        "GITEA_HOST",
        "docker.gitea.com/gitea-mcp-server"
      ],
      "env": {
        "GITEA_HOST": "{{ (datasource "secrets").GITEA_HOST }}",
        "GITEA_ACCESS_TOKEN": "{{ (datasource "secrets").GITEA_ACCESS_TOKEN }}"
      }
    },
    "websearch_exa": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "exa-mcp-server"
      ],
      "env": {
        "EXA_API_KEY": "{{ (datasource "secrets").EXA_API_KEY }}"
      },
      "timeout": 60000
    }
  }
}
