{
  "claudeAiOauth": {
    "accessToken": "{{ (datasource "secrets").CLAUDE_ACCESS_TOKEN }}",
    "refreshToken": "{{ (datasource "secrets").CLAUDE_REFRESH_TOKEN }}",
    "expiresAt": {{ (datasource "secrets").CLAUDE_EXPIRES_AT | default 1768463699792 }},
    "scopes": ["user:inference", "user:profile", "user:sessions:claude_code"],
    "subscriptionType": "pro",
    "rateLimitTier": "default_claude_ai"
  }
}
