[user]
name = "{{ (ds "secrets").GIT_NAME }}"
email = "{{ (ds "secrets").GIT_EMAIL }}"

[ui]
default-command = "log"
paginate = "auto"
# Use nvim as the default editor for jujutsu
editor = "nvim"

[git]
# Automatically create a git-compatible backend
backend = "git"
